<div class="page1">
  <mat-toolbar class="toolbar1">
    <button mat-icon-button class="button5"(click)="sidenav1.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
  </mat-toolbar>


  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav1 mode="side" [opened]="true" > 
      <mat-nav-list>
          <a class="homeicon" routerLink="/" routerLinkActive="active" mat-list-item class="button1" [ngClass]="{'active':router.isActive('/',true)}" (click)="setActiveLink('/')"><mat-icon class="icon1">home</mat-icon></a>
          <a class="loginicon" routerLink="/login" routerLinkActive="active" mat-list-item [ngClass]="{'active':router.isActive('/login',true)}" (click)="setActiveLink('/login')"> <mat-icon class="icon1">account_circle</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
      
            <router-outlet></router-outlet>
  
  

    
  </mat-sidenav-container>
 </div>

