@font-face{
    font-family: "miami";
    src:url("../../../assets/miami.ttf");
}
.form1{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    z-index:1;
    align-items:center;
    background: linear-gradient(-45deg, rgb(16, 56, 187), #10172c, #1d1d22, #080808);
    background-size: 500% 500%;
    animation:gradientanimation ease 50s infinite;
 
}
.logindiv{
    background-color:rgb(16, 17, 29);
    width:400px;
    height:450px;
    color:rgba(255, 255, 255, 0.753);
   
    text-align:center;
    overflow:hidden;
    box-shadow: rgb(22, 23, 24) 3px 3px 6px 0px inset, rgrgba(25, 26, 27, 0.74)3px -3px 6px 1px inset;
    transition:ease-in-out 0.4s;
  opacity:0.6s;
   z-index:4;

}
.input, .confirminput{
    background-color:rgb(44, 43, 43);
   
    border:2px solid rgb(116, 116, 116);
    outline:none;
    height:40px;
    width:200px;
    border-radius:20px;
    color:rgba(255, 255, 255, 0.753);
    font-size:16px;
    padding-left:48px;
  
}
.input:hover{
    transition: ease-in-out 0.5s;
    box-shadow: 0px 0px 10px 2px rgb(95, 95, 95);
}
.input:focus{
    outline:none;
    animation: pulsate 4s infinite;
    box-shadow: 0px 0px 10px 2px rgb(110, 110, 110);

}
mat-error{
  position:absolute;

  margin-top:50px;
  left:50px;
}
.signupcontainer{
  position:relative;
}
.container1 {
    
    margin-top:65px;
    justify-content: center;
    position: relative;
  }
  
  .mat-icon {
    position: absolute;
    top: 10px;
    width:28px;
    margin-left:10px;
    border-right: 1px solid rgba(255, 255, 255, 0.753);
  }
  .container2{
    margin-top:50px;
    position:relative;
  
  }
  .container3, .container4{
    margin-top:50px;
    position:relative;
    display:inline-block;
  }
  .emailtext{
 

    font-family: sans-serif;
    font-size: 20px;
    position:absolute;
    bottom:12px;
    right:150px;
    color:rgba(255, 255, 255, 0.753);
    z-index:5;
    transition:0.4s;
    pointer-events: none;
  }
 .input:invalid ~ .emailtext, .input:focus ~ .emailtext{

    transform: translate(-10px,-22px);
    background:rgb(44,43,43);
    border-radius:10px;
    font-size:15px;
    border: 1px solid rgb(7, 7, 223);
    padding:0 10px;
  
  }
  .input:invalid ~ .usernametext, .input:focus~.usernametext{
    transform:translate(-16px,-25px);
    background:rgb(44,43,43);
    border-radius:10px;
    font-size:15px;
    border: 1px solid rgb(7, 7, 223);
    padding:0 10px;
  }
   .confirminput:invalid ~ .confirmpassword, .confirmpassword:focus~.confirmpassword{
    transform:translate(-30px,-25px);
    background:rgb(44,43,43);
    border-radius:10px;
    font-size:15px;
    border: 1px solid rgb(7, 7, 223);
    padding:0 10px;
  }
  .usernametext{
    top:14px;
    position:absolute;
    right:114px;
    pointer-events:none;
    transition:0.4s;
    font-family: sans-serif;
    font-size:20px;
  }
  .passwordtext{
    position:absolute;
    bottom:14px;
    right:115px;
    font-family: sans-serif;
    font-size: 20px;
    transition:0.4s;
    pointer-events:none;
   
  }
  .confirmpassword{
    pointer-events:none;
    position:absolute;
   
    bottom:14px;
    right:48px;
    font-family: sans-serif;
    font-size:20px;
    transition:0.4s
  }
  .input:invalid ~ .passwordtext, .input:focus ~ .passwordtext{

    transform: translate(-18px,-22px);
    background:rgb(44,43,43);
    border-radius:10px;
    font-size:15px;
    border: 1px solid rgb(7, 7, 223);
    padding:0 10px;
  
  }
  .formlogin{
    width:100%;
    height:100%;
  }
  .logintext{
    margin-top:20px;
    font-family: sans-serif;
    font-size:40px;
    font-weight:bold;
    position:relative;
    pointer-events:none;
  
  }
  .body1{
    overflow:hidden;
    
    width:100%;
    height:100%;
   
    display:flex;
  }
  .body1 > div{
    width:100%;
    height:100%;
    transition: all 0.5s ease-in-out;
   
  }
  .head{
    display:flex;
    width:100%;
    height:50px;
  }
.loginTab,.signupTab{
    width:50%;
    height:100%;
    text-align:center;
    line-height:55px;
    cursor:pointer;
    background:transparent;
    
  }

  .signupTab,.loginTab{
    background:rgb(75, 74, 74);
    opacity:0.6;
  }
  .loginTab.active{
    transition:ease-in-out 0.4s;
    background:transparent;
   
  }
  .signupTab.active{
    transition:ease-in-out 0.4s;
   background:transparent;
    
  }
  .bodylogin, .bodysignup {
    justify-content:center;
    position:relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
    transform: translateX(-50%);
  }
  
  
  .bodylogin.active, .bodysignup.active {
    opacity: 1;
    transition: ease-in-out 0.4s;
    transform: translateX(28%);
  }
  .bodysignup {
  opacity:0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(50%);
  }
.bodysignup.active {
  transform: translateX(-70%);
  
  opacity:1;
}
  .logintext::after {
    color:rgba(255, 255, 255, 0.753);
    content: '_';
    position: absolute;
    bottom: -0.1em; /* Position the "_" character below the text */
    animation: blink 2s infinite; /* Use the "blink" animation for 1 second, repeat infinitely */
  }
  button.loginbutton{
    margin-top:50px;
    background-color:rgb(7, 7, 223);
    height:40px;
    width:250px;
    border-radius:20px;
    opacity:0.8;
    font-family:sans-serif;
    color:rgba(255, 255, 255, 0.753);
  }
  
  /* Define the animation */
  @keyframes blink {
    0% {
      opacity: 1; /* Show the "_" character */
    }
    50% {
      opacity: 0; /* Hide the "_" character */
    }
    100% {
      opacity: 1; /* Show the "_" character */
    }
  }
  @keyframes pulsate{
    0%{
        border-color: 1px white;

    }
    50%{
        border-color:rgb(7, 7, 223);
    }
    100%{
        border-color: 1px white;
    }
  }
  @keyframes gradientanimation{
    0%{
      background-position: 0 50%;
    }
    25%{
      background-position: 50% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    75%{
      background-position: 50% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }