<div class="form1">
    <div id="logindiv" class="logindiv">
       
       
       
            <div class="head">
            <div (click)="changeTab('signup')"class="signupTab">
                SIGN-UP
            </div>
            <div (click)="changeTab('login')" class="loginTab active">
                LOGIN
            </div>
        </div>
        <div id="form-body" class="body1">
          
            <div class="bodylogin active">
                <form [formGroup]="loginform" class="formlogin">
         <br>
          <h1 class="logintext">Login</h1>
            
           
               <div class="container1">
              
                 <mat-icon class="formlogo">account_circle</mat-icon>
                <input formControlName = "email" type="email" class="input" placeholder="Email">
                <!--<br><span class="emailtext">email</span>-->
                </div>
            
        
               
               <div class="container2">
                <mat-icon class="formlogo2">vpn_key</mat-icon>
                 <input formControlName = "password" type="password" class="input" placeholder="password">
                 <br>
             <!--   <span class="passwordtext">password</span>-->
                 </div>
            
                 <button   mat-raised-button class="loginbutton">Login</button>
                 </form>
                 </div>
                 
       
        <div class="bodysignup">
            <br>
             <h1 class="logintext">Signup</h1>
               <div class="signupcontainer">
              <form [formGroup]="signupform" (ngSubmit)="submit()">
                  <div class="container1">
                 
                    <mat-icon class="formlogo">mail</mat-icon>
                   <input mat-input type="email" class="input" formControlName="email" placeholder="Email " required>
                   <mat-error *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)">Email is required</mat-error>
                   <mat-error *ngIf="email?.errors?.['email'] && (email?.dirty || email?.touched)">Email format</mat-error>
                   <br>
                   </div>
                   <div class="container3">
                 
                    <mat-icon class="formlogo">account_circle</mat-icon>
                   <input  type="string" class="input" formControlName="username" placeholder="Username" required>
                   <mat-error *ngIf="username?.errors?.['required'] && (username?.dirty || username?.touched)">Username is required</mat-error>
                  <!-- <br><span class="usernametext">username</span>-->
                   </div>
           
                  
                  <div class="container2">
                   <mat-icon class="formlogo2">vpn_key</mat-icon>
                    <input  type="password" class="input" formControlName="password" placeholder="password" required>
                    <mat-error *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)">Password is required</mat-error>
                    <br>
                 <!--  <span class="passwordtext">password</span>-->
                    </div>
               
                    <div class="container4">
                        <mat-icon class="formlogo3">vpn_key</mat-icon>
                         <input  type="password" class="input" formControlName="confirmpassword" placeholder="password" required>
                         <mat-error *ngIf="signupform.errors?.['passwordsMatch']"> Passwords do not match</mat-error>
                         <br>
                        <!--<span class="confirmpassword" formControlName="confirmpassword">confirm password</span>-->
                         </div>
                    <button  type="submit" mat-raised-button class="loginbutton">Register</button>
                    </form>
                    </div>
                    </div>
                    </div>
    </div>
</div>