
    <div class="container">
        <div class="input-card">
            <form class="card-form">
                <span>Question</span>
                <mat-form-field class="formfield1">
                <input class="nameinput" placeholder="test">
                </mat-form-field>
            </form>
            <a class="addcard">
                <mat-icon>add-circle</mat-icon>
            </a>
            <div class="card-body">
                hello
            </div>
        </div>
    </div>

